<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @consumer.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @consumer.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @consumer.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @consumer.name %>
</p>

<p>
  <strong>Geneder:</strong>
  <%= @consumer.geneder %>
</p>

<p>
  <strong>Age:</strong>
  <%= @consumer.age %>
</p>

<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
