<div class="row">
  <div class="span6 offset3">
    <%= form_for(:user_sessions, url: user_sessions_path) do |f| %>

        <div>
      <%= f.label :email %>
      <%= f.text_field :email %>
</div>

        <div>
      <%= f.label :password %>
      <%= f.password_field :password %>
</div>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    <p>New user? <%= link_to 'Signup', :signup %></p>
  </div>
</div>



