<div>
  <h1>Welcome to Mushroom</h1>

  <%= image_tag("1.jpg", :alt => "machine cat") %>
  <%=image_tag("2.jpg", :alt => "machine cat") %>

  <div id="nav">
   	<%= link_to 'Login', :login%>
   	<%= link_to 'Signup', :signup %>
    Admin: <%= link_to 'Admin Login', :adminlogin%>
   </div>

  <%= yield %>

</div>