<div class="row">
  <div class="span6 offset3">
    <%= form_for(:user_sessions, url: 'user_sessions/editProfile') do |f| %>
      <div class="field">
          <strong>Email:</strong>
          <%= @consumer.email %>
      </div>
      <div class="field">
        <%= f.label :username %><br>
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :password1 %><br>
        <%= f.text_field :password %>
      </div>
        <div class="field">
          <%= f.label :password2 %><br>
          <%= f.text_field :password %>
        </div>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :gender %><br>
        <%= f.text_field :gender %>
      </div>
      <div class="field">
        <%= f.label :age %><br>
        <%= f.text_field :age %>
      </div>
      <div class="actions">
        <%= f.submit %>
        <a onclick="showProfile()"></a>
      </div>
    <% end %>
  </div>
</div>