<!--Dashboard -->
<h1> My Mushroom </h1>


<% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
<% end %>


<ul id="nav" style="list-style-type: none;">
  <li id="media" style="display: inline;"><a onclick="showPlayer()">Media Player</a></li>
  <li id="sheet" style="display: inline;"><a onclick="showSheet()">Buy Music Sheet</a></li>
  <li id="profile" style="display: inline;"><a onclick="showProfile()">My Profile</a></li>
</ul>

<!--Start of Media Player-->
    <div id="mediadiv">
      <div class="clear"></div>
      <section id="sidebar">
        <p>
          Music Player

          <section id="audio">
            <p>
            No mp3 is currently playing.
          </section>
            <p>
          Upload a new MP3

              <%= form_tag upload_path, :method => "post", :multipart => true do %>
                <%= file_field_tag 'upload[file]' %>
                <%= submit_tag "Upload" %>
              <% end %>
      </section>
      <section id="mainmp3">
        <p>
          Download and Delete Existing MP3's
          <% if @musics != nil %>
        <% @musics.each do |music| %>
          <table>
        <td><%= music.name %></td>
            <td><%= link_to "HTML5 Audio", music.url, :class => "html5" %></td>
        <%end%>
        <%end%>
      </table>
      </section>
      <div class="clear"></div>
    </div>
<!--End of Media Player-->

<!--Start of Music Sheet-->
    <div id="sheetdiv" style="display:none;">

    </div>
<!--End of Music Sheet-->

<!--Start of Profile-->
    <div id="profilediv" style="display:none;">
      User Profile

      <p>
        <strong>Email:</strong>
        <%= @consumer.email %>
      </p>

      <p>
        <strong>Username:</strong>
        <%= @consumer.username %>
      </p>

      <p>
        <strong>Password:</strong>
        <%= @consumer.password %>
      </p>

      <p>
        <strong>Name:</strong>
        <%= @consumer.name %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @consumer.gender %>
      </p>

      <p>
        <strong>Age:</strong>
        <%= @consumer.age %>
      </p>

      <a onclick="showEditProfile()">Edit</a>
    </div>
<!--End of Profile-->

<!--Start of Profile-->
<div id="editProfilediv" style="display:none;">
  Edit Profile

  <%= render 'new_form' %>

</div>
<!--End of Profile-->